.heroSection {
    background-image: url('../../../public/images/home-banner1.jpg');
    height: 700px;
  
    .rightBanner {
      position: relative;
  
      .homeRightBanner {
        position: absolute;
        height: 670px;
        right: 0px;
      }
    }
  
    .heroDetails {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      position: relative;
      max-width: 1200px;
      margin: auto;
  
      h2 {
        text-align: center;
        line-height: 50px;
        letter-spacing: 8px;
        font-weight: 400;
        font-size: 47px;
        width: 790px;
        color: #fff;
        font-family: "Cormorant Garamond";
      }
  
      p {
        z-index: 10;
        font-family: Raleway;
        text-transform: uppercase;
        height: auto;
        color: rgb(255, 255, 255);
        text-decoration: none;
        white-space: normal;
        width: 702px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        text-align: center;
        line-height: 32px;
        letter-spacing: 12px;
        font-weight: 500;
        font-size: 15px;
        transform-origin: 50% 50%;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        margin-top: 24px;
      }
  
      .loc {
        position: absolute;
        left: 0px;
        bottom: 40px;
        z-index: 9;
        font-family: Raleway;
        text-transform: uppercase;
        height: auto;
        width: auto;
        color: rgb(255, 255, 255);
        text-decoration: none;
        white-space: nowrap;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        text-align: left;
        line-height: 23px;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 15px;
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
      }
    }
  }
  
  // Responsive Styles for Mobile
  @media (max-width: 768px) {
    .heroSection {
      height: 500px;
  
      .rightBanner {
        .homeRightBanner {
          height: 400px;
          right: -150px;
          top: 30px;
        }
      }
  
      .heroDetails {
        h2 {
          font-size: 28px;
          line-height: 35px;
          width: 70%;
          letter-spacing: 4px;
        }
  
        p {
          font-size: 12px;
          line-height: 20px;
          width: 90%;
          letter-spacing: 6px;
          margin-top: 15px;
        }
  
        .loc {
          font-size: 12px;
          line-height: 18px;
          bottom: 20px;
          left: 20px;
          letter-spacing: 2px;
        }
      }
    }
  
    .react-multi-carousel-dot-list {
      left: 10px;
      top: 150px;
  
      li {
        margin-top: 10px;
      }
    }
  }